---
import Button from '@/components/Button.astro';
import CardBlogPost from '@/components/CardBlogPost.astro';
import Wrapper from '@/components/Wrapper.astro';
import { TAGS } from '@/content/config';
import MainLayout from '@/layout/MainLayout.astro';
import { getOrderedBlogPosts } from '@/utils/ColecctionUtils';

const orderPostDate = await getOrderedBlogPosts();

const recentPosts = orderPostDate.slice(0, 4);

const allPosts = orderPostDate.slice(4);
---

<MainLayout titulo="blog" descripction="xd">
  <Wrapper>
    <br />
    <h1>Post Recientes</h1>
    <br />
    <div class="blog-container">
      {recentPosts && recentPosts.map((post) => <CardBlogPost post={post} />)}
    </div>
    <br />
    <br />
    <h1>Todos los post</h1>
    <br />
    <div class="blog-container--all">
      {allPosts && allPosts.map((post) => <CardBlogPost post={post} />)}
    </div>
    <br />
    <Button as="a" href="/post/">Ver todos los post</Button>
    <br />
  </Wrapper>
</MainLayout>

<style lang="scss">
  .blog-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    container: cardBlogRecent/inline-size;
  }

  .blog-container--all {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    container: cardBlogPaginate/inline-size;
  }
</style>
